{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Телеграм Бот ЦСК | Админ панель</title>
    <link rel="icon" href={% static 'img/SCC_logo.jpg' %}>
    <link rel="stylesheet" href={% static 'css/styles.css' %}>
</head>
<body>
    <div>
        <ul class="navbar">
            <li data-link="/applications" class="selected">Заявки</li>
            <li data-link="/directions">Направления</li>
            <li data-link="/teams">Коллективы</li>
        </ul>
    </div>
    <div data-link="/applications" class="content">
        <div>
            <ul class="navbar">
                <li>Просмотренные</li>
                <li class="selected">Непросмотренные</li>
            </ul>
        </div>
        <div class="applications">
            <div class="annotation">
                <div class="col-1">ФИО</div>
                <div class="col-2">Номер телефона</div>
                <div class="col-3">Напраление</div>
                <div class="col-4">Коллектив</div>
                <div class="col-5">Дата и время</div>
                <div class="col-6">Кнопочки</div>
            </div>
            {% for application in applications %}
            <div class="application">
                <div class="col-1">{{application.Name}}</div>
                <div class="col-2">{{application.Phone}}</div>
                <div class="col-3">{{application.Direction.Name}}</div>
                <div class="col-4">{{application.Team.Name}}</div>
                <div class="col-5">{{application.Date.DateNTime}}</div>
                <div class="col-6">Кнопочки</div>
            </div>
            {% endfor %}
            <div class="application">
                <div class="col-1">Фомина Елизавета Стениславовна</div>
                <div class="col-2">+7(913)172-49-14</div>
                <div class="col-3">Танцевальное</div>
                <div class="col-4">Калипсо</div>
                <div class="col-5">24.09 18:00</div>
                <div class="col-6">Кнопочки</div>
            </div>
        </div>
    </div>
    <div data-link="/teams" class="content">
        
        <div class="teams">
            <div class="team-popup">
                <img class="icon" src={% static 'img/plus.png' %} alt="create">
                <p>Добавить новый коллектив</p>
            </div>
            <div class="team">
                <h3>Калипсо</h3>
                <img src="http://photo.sfu-kras.ru/files/imagecache/photo/photos2/foto2.jpeg">
                <p>
                    Театр танца «КалипсО» — коллектив с богатой историей и креативным мышлением. В театре занимается около 200 человек, и одной из самых ярких групп является Молодёжный состав СФУ. В числе его участников призёры Молодёжных Дельфийских игр России, участники российской Студенческой весны, победители и обладатели Гран-при фестивалей в Черногории, Македонии, Чехии, Австрии и, конечно же, России. Мы постоянные участники всероссийских и краевых молодёжных мероприятий и форумов. Обладатели 3 золотых и серебряной медали I WDA WORLD CHAMPIONSHIP Budapest 2019 в дисциплинах Dance Show Adult и Contemporary Dance.
                </p>
            </div>
            <div class="team">
                <h3>Калипсо</h3>
                <img src="http://photo.sfu-kras.ru/files/imagecache/photo/photos2/foto2.jpeg">
                <p>
                    Театр танца «КалипсО» — коллектив с богатой историей и креативным мышлением. В театре занимается около 200 человек, и одной из самых ярких групп является Молодёжный состав СФУ. В числе его участников призёры Молодёжных Дельфийских игр России, участники российской Студенческой весны, победители и обладатели Гран-при фестивалей в Черногории, Македонии, Чехии, Австрии и, конечно же, России. Мы постоянные участники всероссийских и краевых молодёжных мероприятий и форумов. Обладатели 3 золотых и серебряной медали I WDA WORLD CHAMPIONSHIP Budapest 2019 в дисциплинах Dance Show Adult и Contemporary Dance.
                </p>
            </div>
            <div class="team">
                <h3>Калипсо</h3>
                <img src="http://photo.sfu-kras.ru/files/imagecache/photo/photos2/foto2.jpeg">
                <p>
                    Театр танца «КалипсО» — коллектив с богатой историей и креативным мышлением. В театре занимается около 200 человек, и одной из самых ярких групп является Молодёжный состав СФУ. В числе его участников призёры Молодёжных Дельфийских игр России, участники российской Студенческой весны, победители и обладатели Гран-при фестивалей в Черногории, Македонии, Чехии, Австрии и, конечно же, России. Мы постоянные участники всероссийских и краевых молодёжных мероприятий и форумов. Обладатели 3 золотых и серебряной медали I WDA WORLD CHAMPIONSHIP Budapest 2019 в дисциплинах Dance Show Adult и Contemporary Dance.
                </p>
            </div>
        </div> 
    </div>
    </body>
    <script src={% static '/js/jquery-3.6.0.min.js'%}></script>
    <script src={% static '/js/index.js'%}></script>
</html>