body{
    width: 70%;
    background-color: #F2F2F2;
    font-family: "Arial";
    padding: 5px 15%;
    margin: 0;
    overflow: overlay;
}
.content{
    position: absolute;
    width: 70%;
    left: 15%;
    opacity: 0;
    transition: all ease-in-out .3s;
    margin-top: 20px;
}
.navbar{
    background-color: white;
    display: flex;
    justify-content: space-around;
    list-style: none;
    border-radius: 8px;
    font-weight:bold;
    -webkit-box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2); 
}
.navbar > .selected{
    color: orange;
    text-decoration: overline;
}
.navbar > li:hover{
    color: orange;
}
.navbar.mini{
    margin: 0;
    margin-bottom: 10px;
}
.applications{
    text-align: left;
    border-radius: 8px;
    -webkit-box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2); 
}

.annotation{
    
    font-weight:bold;
    background-color: white;
    border-radius: 10px 10px 0 0;
}

[class^="col-"] {
    display: grid;
    place-items: left;
    border-top: solid lightgray 1px;
    padding: 10px;
  }

.application, .annotation{
    display: grid;
    gap: 0px;
    grid-template-columns: auto 15% 15% 20% 15%;
    background-color: white;
    padding: 0;
    
}

li{
    
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    padding: 10px 15px;
}

li:hover{
    background-color: #FAFAFA;
}

ul{
    padding: 0;
}
.teams{
    position: absolute;
    width: 70%;
    left: 11%;
}
.team{
    position: relative;
    background-color: white;
    padding: 40px 40px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: height ease-in-out .6s;
    -webkit-box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2); 
}
.photo{
    border-radius: 8px;
    width: 50%;
}

.team-popup{
    border-radius: 8px;
    border: gray dashed 4px;
    padding: 20px 0;
    height: 25px;
    margin-bottom: 20px;
    width: 110%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.team-popup:hover{
    border: black dashed 4px;
}
.team-popup:hover > .icon{
    opacity: 1;
}
.team-popup > p{
    margin: 5px;
}
.directions{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}
.direction{
    -webkit-box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2); 
    transition: width ease-in-out .2s;
    border-radius: 8px;
    background-color: white;
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 2.5%;
    padding: 20px 0;
    height: 25px;
    font-size: 20px;
    position: relative;
    display: block;
}
.direction-popup{
    position: absolute;
    border-radius: 8px;
    outline: gray dashed 4px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.direction-popup > .icon{
margin-top: 17px;
}
.icon{
    width: 25px;
    height: 25px;
    opacity: 0.3;
    cursor: pointer;
}

.col-6{
    display: flex;
    justify-content: space-around;
}
.direction-popup:hover{
    
    outline: black dashed 4px;
}

.direction-popup:hover >.icon{
    opacity: 1;
}

.direction-input > input{
    display: none;
    text-align: center;
    height: 60px;
    width: 98%;
    border-radius: 8px;
    position: absolute;
    border: none;
    
    font-size: 20px;
}

.direction-input{
    
    height: 62px;
    margin-bottom: 20px;
    margin-left: 2.5%;
    width: 30%;
    position: relative;
}

.delete{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10px;
    height: 10px;
}

.mobile{
    background-color: #F2F2F2;
    text-align: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: none;
}

input{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #ffd9b5;
    padding-left: 5px;
      width: calc(100% - 20px);
      border: none;
      height: 30px;
      border-radius: 8px;
      font-size: 20px;
      font-family: "Roboto";
}
input:focus {
    border: none;
    background: #DDC8B4; }

.Data{
    display: block;
    width: 80%;
}

.data-div{
    display: flex;
    padding: 10px;
    width: 80px;
}
.form {
    top: 0;
    bottom: 0;
    padding: 20px 40px;
    text-align: center; 
}
.form div {
      display: flex;
      justify-content: center;
      margin: 10px;
      margin-bottom: 20px; 
}
    
.form h1 {
      height: 38px;
      margin: auto 0; 
}
    
.form input {
      background: #ffd9b5;
      width: calc(100% - 20px);
      border: none;
      height: 40px;
      margin-bottom: 20px;
      border-radius: 15px;
      font-size: 25px;
      font-family: "Roboto"; 
}
      
.form input:focus {
        border: none;
        background: #DDC8B4; 
}

button {
      border: none;
      color: #EEE;
      font-size: 20px;
      height: 50px;
      width: 150px;
      cursor: pointer;
      border-radius: 20px;
      background: orange;
      transition: 0.4s ease-in-out;
      -webkit-box-shadow: -1px 3px 21px -7px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: -1px 3px 21px -7px rgba(34, 60, 80, 0.2);
      box-shadow: -1px 3px 21px -7px rgba(34, 60, 80, 0.2);
      font-family: "Roboto"; 
}
button:hover {
        transform: translateY(-1px);
        -webkit-box-shadow: -1px 10px 21px -7px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: -1px 10px 21px -7px rgba(34, 60, 80, 0.2);
        box-shadow: -1px 10px 21px -7px rgba(34, 60, 80, 0.2);
        background: darkorange; 
}
button:active {
        transform: translateY(2px);
        -webkit-box-shadow: -1px 0px 21px -7px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: -1px 0px 21px -7px rgba(34, 60, 80, 0.2);
        box-shadow: -1px 0px 21px -7px rgba(34, 60, 80, 0.2);
        background: linear-gradient(205deg, #da610a 23%, #f5cf0a 100%); 
}
  
.container {
    background: #FAFAFA;
    width: 375px;
    height: 265px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2); }

.data-div>img{
    margin-left: 10px;
    width: 10px;
    height: 10px;
}

textarea{
    resize: none;
    width: 95%;
    height: 200px;
}

 .form-row{
    width: 100%;
    display: flex;
 }
 .input{
    width: 100%;
 }

.spinner{
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1000;
    display: none;
}
.spinner > div{
    position: absolute;
    top: calc(50% - 40px);

    left: calc(50% - 40px)
}


 .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

.message{
    position: fixed;
    top: 10%;
    left: 1%;
    max-width: 12%;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    -webkit-box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 9px 19px -2px rgba(34, 60, 80, 0.2);
    background-color: white;
    transition: all ease-in-out .3s;
}
  
#prevImage{
    max-width: 90%;
    border-radius: 8px;
    padding: 10px;
    max-height: 150pxz;
    display: none;
}

.prevImage{
    max-width: 90%;
    border-radius: 8px;
    padding: 10px;
    max-height: 150px;
}
.download-file-form{
    padding: 20px;
}
.download-file-form>.form-row{
    flex-wrap: wrap;
}
.download-file-form>.form-row>.input{
    width: 100%;
    padding: 10px;
    display: flex;
}

.download-file-form>.form-row>.input.dates{
    width: 10%;
}

.sb{
    justify-content: space-between;
}




@media (max-width: 1500px) {
    body{
        width: 100%;
        padding: 0;
    }
    .navbar{
        width: 100%;
        padding: 0%;
    }
    .content{
        width: 100vw;
        left: 0 !important;
        margin: 0;
    }
}

@media (max-width: 600px) {
    .mobile{
        display: none;
    }
    body{
        height: 100vh;
        width: 100vw;
        padding: 0;

    
    }
    .container{
        -moz-transform: scale(0.85, 0.85); /* Moz-browsers */
    zoom: 0.85; /* Other non-webkit browsers */
    zoom: 85%; /* Webkit browsers */
    }
    .navbar, .content{
        display: none !important;
    }

    .download-file-form>.form-row>.input.dates{
        width: 20%;
}
}